<div class="row">
  <div class="col-md-3 mb-4">
    <div class="card h-100 shadow-sm">
      <img
        [src]="'https://image.tmdb.org/t/p/w500/' + selectedMovie.poster_path"
        class="card-img-top"
        alt="Margherita Pizza"
      />
      <div class="card-body">
        <h5 class="card-title">
          {{ selectedMovie.title }}
        </h5>
        <p class="fw-bold text-success">{{ selectedMovie.overview }}</p>
        <h4>{{ selectedMovie.release_date }}</h4>

        <button class="btn btn-success">Watch</button>
      </div>
    </div>
  </div>
</div>
